@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model StarSecurityServices.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmployees.cshtml";
}

<div class="col-lg-12">
    <h2>Create New Employee</h2>
    <hr />
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create" asp-controller="Employees">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="Password" class="form-control" type="password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contact" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Qualification" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="Qualification" class="form-control" />
                            <span asp-validation-for="Qualification" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Grade" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="Grade" class="form-control" />
                            <span asp-validation-for="Grade" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Achievement" class="control-label"></label> <span class="text-danger">*</span>
                            <input asp-for="Achievement" class="form-control" />
                            <span asp-validation-for="Achievement" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="JobId" class="control-label"></label> <span class="text-danger">*</span>
                            <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartmentId" class="control-label"></label> <span class="text-danger">*</span>
                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="BranchId" class="control-label"></label> <span class="text-danger">*</span>
                            <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="RoleId" class="control-label"></label> <span class="text-danger">*</span>
                            <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <button class="btn btn-dark" asp-action="Index">Back to List</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
