
@{
    ViewData["Title"] = "Service";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}
<link href="~/css/Client/Utils/common.css" rel="stylesheet" />

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h1>OUR BUSINESS</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@* Manned guarding   *@
<div class="service-section pt-5">
    <div class="container">
        <h3>Manned guarding</h3>
        <p>
            Manned guarding: The service portfolio of this division includes
            guarding, fire squad, dog squad, bodyguards etc. for industries,
            banks, retail outlets, residential colonies, hotels and institutions
        </p>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Guarding</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Fire squad</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Dog squad</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Bodyguards</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Office Security</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Office Security</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Cash Services   *@
<div class="service-section pt-5">
    <div class="container">
        <h3>Cash Services</h3>
        <p>
            Cash Services: The service range of the Cash Services division
            includes secured transfer of cash and valuables, ATM
            replenishment, Vaulting and Processing Services, multi-point
            cash collection and Caretaker Services
        </p>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Guarding</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Fire squad</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Dog squad</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Bodyguards</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Office Security</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <img src="~/images/Client/Service/service-1.jpg" style="max-width:100%; height: auto;border-radius:5px;" />
                    <div class="service-details mt-2">
                        <h4><a class="text-dark" href="#">Office Security</a></h4>
                        <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
