@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="~/css/Admin/style.css" />
    <link rel="stylesheet" href="~/css/Admin/Pages/LogoutConfirm.css" />
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <h2 class="mb-3">Are you sure?</h2>
                <p class="mb-5">Are you sure that you want to logout of the system?</p>
                <div class="button-action">
                    <a class="btn btn-light" asp-controller="Home" asp-action="Index">Cancel</a>
                    <a class="btn btn-danger" href="/logout.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
