.card {
    border-top: #E6BF36 solid 0.5rem;
    border-bottom: #E6BF36 solid 0.5rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

.division-title {
    font-size: 2em;
    font-weight: 600;
    color: #020e2a;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0.5rem;
}

li i {
    color: #E6BF36;
    margin-right: 0.5rem;
}

.service-img {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.service-img img {
    max-width:100%;
    height: auto;
}

.image {
    flex: 1;
    padding: 1rem;
    margin: 1rem;
}