@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<StarSecurityServices.Models.Vacancy>

@{
    ViewData["Title"] = "Careers with Us";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h1>CAREERS WITH US</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container py-5 search">
        <h1>Find Your Dream Careers</h1>
        <h3>Get insights such as salaries, interviews, and skills for your dream career</h3>
        <hr />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Search Job Title: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    </p>
                    <div class="pt-2">
                        <input type="submit" value="Search" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-dark text-white">Back to Full List</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-9">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">
                                @Html.DisplayFor(modelItem => item.Job.Name)
                            </h1>
                            <h3 class="card-text">
                                <span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>@Html.DisplayFor(modelItem => item.Branch.Address)
                            </h3>
                        </div>
                        <div class="card-footer">
                            <form>
                                <button class="btn btn-primary" asp-area="Customer" asp-controller="Contact" asp-action="Index">Details</button>
                            </form>
                        </div>
                    </div>
                }
            }

            <div class="mt-3" aria-label="Page Navigation">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="Branches" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>