@{
    ViewData["Title"] = "Careers with Us";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">




<div class="banner" style="background-color:#cde7d6;height:200px;">
    <div class="container py-5 search">
        <h1>Find Your Dream Careers</h1>
        <h3>Get insights such as salaries, interviews, and skills for your dream career</h3>
        <input placeholder="Search Job Title" maxlength="128" value="">
        <input placeholder="Location" maxlength="128" value="">
        <button type="button" class="btn btn-primary" style="font-size:17px;">Search</button>
    </div>
</div>

<div class="banner__job" style="margin :40px 0px;">
    <div class="container pb-5">
        <h1>Fast Growing Careers</h1>
    </div>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Data Science Engineer,Geospatial</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Education in Data Science, Statistics, Economics, Science, Applied Science or relevant field of study
                        Ability to turn complex problems into simple solutions
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">DevOps Engineer(Kubernates)</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Build and set up new development tools and infrastructure
                        Working on ways to automate and improve development and release processes
                        Testing and examining code written by others and analyzing results
                        Ensuring that systems are safe and secure against cybersecurity threats
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Senior Software Development Engineer</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Design, implement, test, deploy and maintain innovative software solutions to transform service performance, durability, cost, and security.
                        Write high quality distributed system software
                        Enjoy seeing the impact of your work has on customers.
                        Work in an agile, startup-like development environment, where you are always working on the most important stuff.
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>

                </div>

            </div>

        </div>
    </div>
    <div class="container py-5">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Cyber Security Vulnerability Management Analyst</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Evaluate risk related to vulnerabilities and prioritize remediation strategy inline with MAXAR policy and standards.
                        Assist in improving and automating existing vulnerability management lifecycle.
                        Perform recurring and on demand scanning activities of both corporate and cloud environments utilizing enterprise platform.
                        Present vulnerability results in appropriate dashboards, reports, and forward to other data owners as necessary.
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>

                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Engineer - Cyber Security</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Configures, implements, and troubleshoots a wide variety of cyber security devices
                        Implement and maintain cyber tools
                        Monitor cyber tools’ health
                        Monitor and respond to output from cyber tools
                        Tune tools for optimum performance and business focused monitoring
                        Configure and troubleshoot security infrastructure devices
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>

                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Software Engineer - Identity and Access Management (IAM) Platform</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Collaborate proactively with a distributed team
                        Debug issues and produce high quality code to fix them
                        Review code produced by other engineers
                        Contribute to and be proud of high quality technical documentation
                        Engage with the community to share best practices, and do your work in the open
                        Discuss ideas and collaborate on finding good solutions
                        Work from home with global travel 2 to 4 weeks for internal and external events
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>

                </div>

            </div>


        </div>
    </div>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    Assistant Professor - Motion DesignData Science</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Candidates must demonstrate a passion for design and be capable of inspiring a new generation of students for the creative and critical thinking necessary to be leaders in this specialized industry.
                        The successful candidate will be responsible for leading the development of the Graphic Design Master’s Program curriculum.
                        Show commitment to teaching and working with students from diverse populations
                        Participate in department, college, and university service.
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Software Engineering SMTS</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Work closely with other engineers and the product owner to design, develop, and maintain internal tools, pipelines, and customer facing features (using Java, Typescript, C/C++/C#, Python, on Windows, Mac and Linux).

                        Design, develop and maintain tools, services, to help our development effort.
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>

                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Customer Engineer</h2>
                    <h4 class="card-text"><span style="padding-right:10px;"><i class="fas fa-map-marker-alt"></i></span>Boston</h4>
                    <p style="font-size:12px;" class="card-text">
                        Manage customer technical problems through effective diagnosis, resolution, or implementation of new investigation techniques to increase productivity for customer issues on LumApps
                        Act as a consultant and LumApps subject matter expert for internal stakeholders in the Professional Services Org (PSO) to resolve technical deployment obstacles
                        Develop an in-depth understanding of LumApps's product technology and underlying architectures by troubleshooting, reproducing, and determining the root cause for customer reported issues
                        Ability to work in a fast pace environment, adapting to abrupt changes quickly and providing new alternatives for unforeseen technical roadblocks
                    </p>
                </div>
                <div class="card-footer">
                    <a class="nav-link" asp-area="Customer" asp-controller="Contact" asp-action="Index">  <small class="text-muted"><button class="btn btn-primary">Contact Us</button></small></a>

                </div>

            </div>

        </div>

    </div>
