@{
    ViewData["Title"] = "About us";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}
<link rel="stylesheet" href="~/css/Client/Pages/Contact.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<section class="contact" id="contact">

    <form action="">

        <input class="box" type="text" placeholder="name">
        <input class="box" type="email" placeholder="your email">
        <input class="box" type="number" placeholder="your number">

        <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>

        <input type="submit" class="btn" value="send message">

    </form>

    <div class="content">

        <h3>Need Help? Don't Forget to Contact With Us</h3>
        <div class="icons">
            <i class="fas fa-map-marker-alt"></i>
            <p>Ha Noi , Viet Nam </p>
        </div>
        <div class="icons">
            <i class="fas fa-globe"></i>
            <p>www.yourwebsite.com</p>
        </div>
        <div class="icons">
            <i class="fas fa-phone"></i>
            <p>123-456-7890</p>
        </div>

    </div>

</section>