
@{
    ViewData["Title"] = "About us";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}
<link rel="stylesheet" href="~/css/Client/Pages/About.css">

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h1>ABOUT US</h1>
                </div>
            </div>
        </div>
    </div>
</div>

    @* about info *@
    <div class="about-container pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-description">
                        <div class="sec-title">
                            <h1><span class="title-main">About </span>Our Company</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
                        </div>
                        <div class="about-count flex-column flex-md-row text-center text-md-left">
                            <div class="counting-inner">
                                <div>
                                    <h2 class="counter">250</h2>
                                    <h4>Project Done</h4>
                                </div>
                            </div>
                            <div>
                                <div class="countup-text">
                                    <h2 class="counter">280</h2>
                                    <h4>Happy Clients</h4>
                                </div>
                            </div>
                            <div>
                                <div class="countup-text">
                                    <h2 class="counter">240</h2>
                                    <h4>Our employees</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-us-img">
                        <img src="~/images/Client/About/about.jpg" style="max-width: 100%; height: auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Reviews *@
    <div class="client-review  pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="client-review-text text-white">
                        <span class="title-main">What's say about our client</span>
                        <div class="text-white">
                            <h1><span class="title-main">Client</span> Review</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed enim varius enim, tellus tincidunt tellus est sed </p>
                        <a class="btn custom-button" href="#">See All</a>
                    </div>
                </div>
                <div class="col-md-8 no-padding pt-5 pt-md-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:100%;">

                        <div class="carousel-inner text-white h-100 px-5">
                            <div class="carousel-item active">
                                <div class="carousel-item-content">
                                    <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                                    <div class="user-info-container d-flex align-items-center justify-content-center pt-2 pt-md-5">
                                        <div class="user-info pr-3">
                                            <h3 class="title-main">David Max</h3>
                                            <h4>Ceo &amp; Founder</h4>
                                        </div>

                                        <div class="user-img">
                                            <img src="~/images/Client/About/user-1.jpg" alt="David Max" class="rounded-circle" style="width: 70px !important; height: 70px !important;" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-item-content">
                                    <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                                    <div class="user-info-container d-flex align-items-center justify-content-center pt-2 pt-md-5">
                                        <div class="user-info pr-3">
                                            <h3 class="title-main">David Max</h3>
                                            <h4>Ceo &amp; Founder</h4>
                                        </div>

                                        <div class="user-img">
                                            <img src="~/images/Client/About/user-1.jpg" alt="David Max" class="rounded-circle" style="width: 70px !important; height: 70px !important;" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-item-content">
                                    <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                                    <div class="user-info-container d-flex align-items-center justify-content-center pt-2 pt-md-5">
                                        <div class="user-info pr-3">
                                            <h3 class="title-main">David Max</h3>
                                            <h4>Ceo &amp; Founder</h4>
                                        </div>

                                        <div class="user-img">
                                            <img src="~/images/Client/About/user-1.jpg" alt="David Max" class="rounded-circle" style="width: 70px !important; height: 70px !important;" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Employees *@

    <div class="team-sec pt-5 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <h1><span class="title-main">Our Expert </span>Employees</h1>
                        <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member text-center">
                        <div class="team-thumb">
                            <img class="tm-img" src="~/images/Client/About/tm-1.jpg" alt="" style="max-width: 100%; height: auto;" />
                        </div>
                        <h3 class="mt-3">Adalberto</h3>
                        <h4>Office Security</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member text-center">
                        <div class="team-thumb">

                            <img src="~/images/Client/About/tm-2.jpg" style="max-width: 100%; height: auto;" />

                        </div>
                        <h3 class="mt-3">Alejandro</h3>
                        <h4>House Security</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member text-center">
                        <div class="team-thumb">

                            <img src="~/images/Client/About/tm-3.jpg" style="max-width: 100%; height: auto;" />

                        </div>
                        <h3 class="mt-3">Ambrose</h3>
                        <h4>Bank Security</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="team-member text-center">
                        <div class="team-thumb">
                            <img src="~/images/Client/About/tm-1.jpg" style="max-width: 100%; height: auto;" />

                        </div>
                        <h3 class="mt-3">Arnoldo</h3>
                        <h4>Parking Security </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
