
@{ ViewData["Title"] = "About us";
                Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml"; }


@section Styles {
    <!-- Custom CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/Client/Pages/About.css")">
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h1>ABOUT US</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@* History *@
<div class="history-area padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5">
                <div class="text-center">
                    <h1><span class="title-main">Our </span> History</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="years">
            <img src="~/images/Client/About/2000.jpg" class="img-fluid" />
            <h2>2000</h2>
            <p>More than 20 years ago, Star was founded as an investigation firm with a team of just two employees in a small rented office in Mumbai.</p>
        </div>

        <div class="years">
            <img src="~/images/Client/About/2001.jpg" class="img-fluid" />
            <h2>2001</h2>
            <p>Star opened its first branch office in Mumbai, Maharashtra</p>
        </div>

        <div class="years">
            <img src="~/images/Client/About/2010.jpg" class="img-fluid" />
            <h2>2010</h2>
            <p>
                Star grown into a "Total Security Solutions Provider" offering security services to over 250 corporate customers across 24 states.
            </p>
        </div>

        <div class="years">
            <img src="~/images/Client/About/2012.jpg" class="img-fluid" />
            <h2>2012</h2>
            <p>Star received an ISO 9001:2000 certification</p>
        </div>

        <div class="years">
            <img src="~/images/Client/About/2019.jpg" class="img-fluid" />
            <h2>2019</h2>
            <p>
                Star trained workforce consists of over 2800 men & supervisors and 100 banded
                managers and $1 Bn in revenues.
            </p>
        </div>
    </div>
</div>

@* Board of Directors *@
<div class="chairman-area padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5">
                <div class="text-center">
                    <h1><span class="title-main">Our </span> Chairman</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-9 col-sm-6 col-xs-3">
                <div class="card o-hidden border-0 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 chairman-img">
                                <img src="~/images/Client/About/chairman.jpg" alt="img" class="img-fluid">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div class="chairman-name">Mr. Peter Singh</div>
                                        <hr />
                                    </div>
                                    <div>
                                        <h3>EARLY CAREER</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget leo elit. Mauris ut mi tempus, hendrerit nisi in, fermentum tortor. Phasellus eu diam at massa consequat lacinia.
                                        </p>
                                    </div>
                                    <div>
                                        <h3>RECOGNITION</h3>
                                        <p>
                                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin consequat at mauris ut auctor. Integer scelerisque quam vitae felis lobortis ultricies. Nulla convallis a velit posuere ultrices.
                                        </p>
                                    </div>
                                    <div>
                                        <h3>ASSOCIATIONS</h3>
                                        <p>
                                            Quisque sed ante id ex vulputate egestas sed ut lorem. Aliquam euismod ipsum nunc, tempus pellentesque ipsum pulvinar in. Maecenas at nibh sit amet dui egestas elementum facilisis consectetur elit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Board of Directors *@
<div class="director-board-area padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-5">
                <div class="text-center">
                    <h1><span class="title-main">Board </span>of Directors</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="director-board-box">
                    <img src="~/images/Client/About/director-1.jpg" alt="img" class="director-board-img">
                    <h3 class="director-board-title text-center">Mr. Thomas Nguyen</h3>
                    <p>Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
                    <div class="director-board-icons">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tm-about-box-1">
                    <img src="~/images/Client/About/director-2.jpg" alt="img" class="director-board-img">
                    <h3 class="director-board-title text-center">Mr. Keith Elison</h3>
                    <p>Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
                    <div class="director-board-icons">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tm-about-box-1">
                    <img src="~/images/Client/About/director-3.jpg" alt="img" class="director-board-img">
                    <h3 class="director-board-title text-center">Mr. Uday Nehru</h3>
                    <p>Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
                    <div class="director-board-icons">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tm-about-box-1">
                    <img src="~/images/Client/About/director-4.jpg" alt="img" class="director-board-img">
                    <h3 class="director-board-title text-center">Mr. Peter Smith</h3>
                    <p>Proin gravida nibhvell aliquet. Aenean sollicitudin bibum auctor nisi elit.</p>
                    <div class="director-board-icons">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>