h1 {
    font-weight: 700;
    font-size: 2em;
}

.padding-top-bottom {
    padding: 4rem 0;
}


.about-us-img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.about-us-img::before {
    position: absolute;
    content: "";
    background: #fab909;
    width: 100%;
    height: 100%;
    left: -25px;
    top: 30px;
    z-index: -1;
}

.about-count {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.about-description {
    padding: 0 1.5rem;
}

.counting-inner {
    margin-top: 5px;
}

.client-review {
    background-image: url(../../../images/Client/About/review_bg.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.client-review:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .counter {
        font-size: 36px;
    }
}

img.director-board-img {
    display: block;
    border-radius: 50%;
    margin: 0 auto 3rem;
    border: 0.5rem solid #d4d4d4;
}

.director-board-title {
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.director-board-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.director-board-area .fa {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;
}

.director-board-box p {
    margin-bottom: 2rem;
}

.chairman-area h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin: 1.5rem 0;
    font-size: 1.25em;
}

.chairman-area p {
    margin-bottom: 2.5rem;
}

.chairman-name {
    text-transform: uppercase;
    font-style: italic;
    font-size: 2em;
}

.chairman-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}