html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #333;
}

section {
    padding: 0 7%;
}

.btn {
    padding: 1.2rem 3rem;
    font-size: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    background: #47b2e4;
    color: #fff;
    border-radius: 5rem;
    text-transform: capitalize;
}

.btn:hover {
    background: #209dd8;
    color: #333;
}
.contact {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.contact form {
    flex: 1 1 4rem;
    background: #fff;
    padding: 3rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
    border-top: 0.5rem solid #47b2e4;
    border-bottom: 0.5rem solid #47b2e4;
}

.contact form .box {
    height: 5rem;
    width: 100%;
    background: none;
    border: none;
    border-bottom: .1rem solid #ccc;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 0 1rem;
    color: #212529;
    text-transform: none;
}

.contact form textarea {
    height: 15rem;
    width: 100%;
    background: none;
    border: none;
    border-bottom: .1rem solid #ccc;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    color: #212529;
    text-transform: none;
    resize: none;
}

.contact form .box::placeholder, .contact form textarea::placeholder {
    text-transform: capitalize;
}

.contact form .box:focus, .contact form textarea:focus {
    border-color: #637CBB;
}

.contact form .btn {
    width: 100%;
}

.contact .content {
    flex: 1 1 40rem;
    padding: 4rem;
}

.contact .content h3 {
    font-size: 4rem;
    color: #fff;
}

.contact .content p {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.contact .content .icons {
    display: flex;
    align-items: center;
}

.contact .content .icons p {
    font-size: 2rem;
    color: #fff;
}

.contact .content .icons i {
    font-size: 2rem;
    color: #637CBB;
    padding-right: 1rem;
}