@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}
* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 2rem 9%;
}

header .carousel-inner .item {
    height: 100vh;
}

.navbar-inverse {
    background-color: rgba(0,0,0,0.4);
    border-color: transparent;
}

    .navbar-inverse .navbar-brand {
        color: #fff;
        font-size: 40px;
        padding: 40px 15px;
        font-weight: 900;
    }

.nav.navbar-nav.navbar-right {
    margin: 25px 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #fff;
        background-color: #EDBB00;
    }

.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.carousel-caption {
    padding-bottom: 250px;
    font-family: poppins;
}

    .carousel-caption h2 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .carousel-caption h3 {
        font-size:25px
       
    }

        .carousel-caption h2 span {
            color: #EDBB00;
        }

    .carousel-caption a {
        background: #EDBB00;
        padding: 15px 35px;
        display: inline-block;
        margin-top: 15px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 25px;
    }

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.carousel-indicators .active {
    background-color: #EDBB00;
    border-color: #EDBB00;
}
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        padding-bottom: 350px;
    }

        .carousel-caption h2 {
            font-size: 40px;
        }
        .carousel-caption h3 {
            font-size: 25px;
        }
}

@media only screen and (max-width: 767px) {
    .navbar-inverse .navbar-brand {
        font-size: 30px;
        padding: 20px 15px;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, 0.5);
    }

    .carousel-caption {
        padding-bottom: 245px;
    }

        .carousel-caption h2 {
            font-size: 20px;
        }

        .carousel-caption h3 {
            font-size: 16px;
        }

        .carousel-caption a {
            padding: 10px 25px;
        }
}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}


.features .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}




