@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StarSecurityServices</title>

    <!-- Custom fonts for this template-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap" rel="stylesheet">

    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/iconfonts/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css" />

    <link rel="stylesheet" href="~/css/site.css" />

    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="~/css/Admin/style.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- Page Wrapper -->
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Admin/Home/logo-main.png" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile">
                        <div class="nav-profile-text">
                            <span class="text-gray">Hi, </span>
                            <span class="mb-1 text-black font-weight-bold">@Context.Session.GetString("EmployeeName")</span>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>

                    <!-- Divider -->
                    <li class="border-bottom nav-title">
                        <p class="text-secondary mt-auto">Employees Management</p>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Employees" asp-action="Index">
                            <span class="menu-title">Employees</span>
                            <i class="mdi mdi-account menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Roles" asp-action="Index">
                            <span class="menu-title">Roles</span>
                            <i class="mdi mdi-server menu-icon"></i>
                        </a>
                    </li>

                    <!-- Divider -->
                    <li class="border-bottom nav-title">
                        <p class="text-secondary mt-auto">Jobs Management</p>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Departments" asp-action="Index">
                            <span class="menu-title">Departments</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Jobs" asp-action="Index">
                            <span class="menu-title">Jobs</span>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Vacancies" asp-action="Index">
                            <span class="menu-title">Vacancies</span>
                            <i class="mdi mdi-notification-clear-all menu-icon"></i>
                        </a>
                    </li>

                    <!-- Divider -->
                    <li class="border-bottom nav-title">
                        <p class="text-secondary mt-auto">Network Management</p>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Branches" asp-action="Index">
                            <span class="menu-title">Branches</span>
                            <i class="mdi mdi-map-marker menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Regions" asp-action="Index">
                            <span class="menu-title">Regions</span>
                            <i class="mdi mdi-map-marker menu-icon"></i>
                        </a>
                    </li>

                    <!-- Divider -->
                    <li class="border-bottom nav-title">
                        <p class="text-secondary mt-auto">Services Management</p>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Services" asp-action="Index">
                            <span class="menu-title">Services</span>
                            <i class="mdi mdi-headphones menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Divisions" asp-action="Index">
                            <span class="menu-title">Division</span>
                            <i class="mdi mdi-sitemap menu-icon"></i>
                        </a>
                    </li>

                    <!-- Divider -->
                    <li class="border-bottom nav-title">
                        <p class="text-secondary mt-auto">Clients Management</p>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Clients" asp-action="Index">
                            <span class="menu-title">Clients</span>
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Admin" asp-controller="ClientServices" asp-action="Index">
                            <span class="menu-title">Clients' Services</span>
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                        </a>
                    </li>

                    <!-- Divider -->
                    <li class="border-bottom nav-title"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout.html">
                            <span class="menu-title">Logout</span>
                            <i class="mdi mdi-logout-variant menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/js/Admin/off-canvas.js"></script>
    <script src="~/js/Admin/dashboard.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
