@model StarSecurityServices.Areas.Admin.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Admin/Pages/Login.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
}

<div class="login">
    <div class="login__content">
        <div class="login__img">
            <img src="~/images/Client/Login/img-login.svg" alt="">
        </div>

        <div class="login__forms">
            <form asp-area="Admin" asp-controller="Home" asp-action="Login" method="post" class="login__registre" id="login-in">
                <h1 class="login__title text-center">LOGIN</h1>
                <hr />

                <div class="text-danger">@ViewBag.Error</div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label> <span class="text-danger">*</span>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label> <span class="text-danger">*</span>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary login__button" />
                </div>
                <a href="#" class="login__forgot">Forgot password?</a>
            </form>
        </div>
    </div>
</div>
