@{
    ViewData["Title"] = "HomePage";
    Layout = "~/areas/Customer/views/shared/_LayoutCustomer.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Client/Pages/Home.css">
    <link rel="stylesheet" href="~/css/Client/Pages/About.css">
    <link rel="stylesheet" href="~/css/Client/Utils/common.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.6.2/animate.min.css" rel="stylesheet">
}



<section class="home" id="home">
    <div class="content">
        <h2 class="animated slideInDown" style="animation-delay: 1s"> Total <span>Security Solution </span>Provider</h2>
        <h3 class="animated fadeInUp text-center" style="animation-delay: 2s">Manned guarding(MG), Investigations (C&I)<br />Electronic security systems(ESS)</h3>
        <button class="animated zoomIn text-center" style="animation-delay: 3s"><a asp-controller="Service" asp-action="Index">Our Services</a></button>
    </div>
</section>

<section class="about">
    @* about info *@
    <div class="about-container padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-description">
                        <div class="sec-title">
                            <h1 class="mb-4"><span class="title-main">About </span>Our Company</h1>
                            <p>
                                We are a professional agency providing customized security arrangements to
                                the industrial, commercial, and business houses
                            </p>
                            <p>
                                Setup as Investigation firm almost 10 years ago in Mumbai by our founder - Mr, today the company has
                                grown into a "Total Security Solutions Provider" offering manned guarding
                                (MG), investigations (C&I), electronic security systems (ESS) and cash
                                services (CS) to over 250 corporate customers across 24 states.
                            </p>
                            <p>
                                Star believes in continuously upgrading the quality of our resources and
                                infrastructure to support the ever-changing customer requirements. In
                                pursuance to this, Star wants the security business to implement a state-ofthe-art ERP Solution to manage the day-to-day operations of the company.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-us-img">
                        <img src="~/images/Client/About/about.jpg" style="max-width: 100%; height: auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choose">
    <div class="why-choose why-choos-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 why-choose-us-before">
                    <div class="sec-title">
                        <h1><span class="title-main">Why</span> Choose Us</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="why-choose-item">
                                <div class="why-choose-icon">
                                    <img src="~/images/Client/Home/ic-customer.png" alt="">
                                </div>
                                <div>
                                    <h2><a href="#">24/7 Support</a></h2>
                                    <p>Simply dummy text of the printing andrety esetting industry.Lorem ipsum dolor sit amet, ligula magna at etiam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="why-choose-item">
                                <div class="why-choose-icon">
                                    <img src="~/images/Client/Home/ic-employee.png" alt="">
                                </div>
                                <div>
                                    <h2><a href="#">Expert Employees</a></h2>
                                    <p>Simply dummy text of the printing andrety esetting industry.Lorem ipsum dolor sit amet, ligula magna at etiam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="why-choose-item">
                                <div class="why-choose-icon">
                                    <img src="~/images/Client/Home/ic-locked.png" alt="">
                                </div>
                                <div>
                                    <h2><a href="#">Verified Service</a></h2>
                                    <p>Simply dummy text of the printing andrety esetting industry.Lorem ipsum dolor sit amet, ligula magna at etiam.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="why-choose-item">
                                <div class="why-choose-icon">
                                    <img src="~/images/Client/Home/ic-lock.png" alt="">
                                </div>
                                <div>
                                    <h2><a href="#">Secured Service</a></h2>
                                    <p>Simply dummy text of the printing andrety esetting industry.Lorem ipsum dolor sit amet, ligula magna at etiam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <h3 style="text-align:center;text-transform:uppercase;color:#EDBB00;font-weight:bold;padding:20px;">
            We Always Try To
        </h3>
        <h3 style="text-align:center;text-transform:uppercase;">
            Provide Cost Effective Security Solutions
        </h3>
        <div class="box-container">

            <div class="box">
                <img src="~/images/Client/Home/promo-1.jpg" alt="">
                <h5>Our Experience</h5>
            </div>

            <div class="box">
                <img src="~/images/Client/Home/promo-2.jpg" alt="">
                <h5>Bleezy History</h5>
            </div>

            <div class="box">
                <img src="~/images/Client/Home/promo-3.jpg" alt="">
                <h5>Our Mission</h5>
            </div>
        </div>
    </div>
</section>

<section class="counter-area" id="features">
    <div class="container">
        <div class="counter-bg flex-column flex-md-row text-center text-md-left">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="counter-box">
                        <i class="fa fa-users"></i>
                        <h2><span class="counter">550</span>+</h2>
                        <p>Happy Clients</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="counter-box">
                        <i class="fa fa-trophy"></i>
                        <h2><span class="counter">335</span>+</h2>
                        <p>Achivment</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="counter-box">
                        <i class="fa fa-handshake"></i>
                        <h2><span class="counter">700</span>+</h2>
                        <p>Project Complete</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="counter-box">
                        <i class="fa fa-clock"></i>
                        <h2><span class="counter">5580</span>+</h2>
                        <p>Houres Worked</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* Reviews *@
<div class="client-review  pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="client-review-text text-white">
                    <span class="title-main">What's say about our client</span>
                    <div class="text-white">
                        <h1><span class="title-main">Client</span> Review</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet, luctus posuere semper felis consectetuer hendrerit, enim varius enim, tellus tincidunt tellus est sed enim varius enim, tellus tincidunt tellus est sed </p>
                    <a class="btn custom-button" href="#">See All</a>
                </div>
            </div>
            <div class="col-md-8 no-padding pt-5 pt-md-0">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:100%;">

                    <div class="carousel-inner text-white h-100 px-5">
                        <div class="carousel-item active">
                            <div class="carousel-item-content">
                                <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                                <div class="user-info-container d-flex align-items-center justify-content-center pt-2 pt-md-5">
                                    <div class="user-info pr-3">
                                        <h3 class="title-main">David Max</h3>
                                        <h4>Ceo &amp; Founder</h4>
                                    </div>

                                    <div class="user-img">
                                        <img src="~/images/Client/About/user-1.jpg" alt="David Max" class="rounded-circle" style="width: 70px !important; height: 70px !important;" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-item-content">
                                <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                                <div class="user-info-container d-flex align-items-center justify-content-center pt-2 pt-md-5">
                                    <div class="user-info pr-3">
                                        <h3 class="title-main">David Max</h3>
                                        <h4>Ceo &amp; Founder</h4>
                                    </div>

                                    <div class="user-img">
                                        <img src="~/images/Client/About/user-1.jpg" alt="David Max" class="rounded-circle" style="width: 70px !important; height: 70px !important;" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-item-content">
                                <p>Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis. Vitae sit felis donec, suscipit tortor et sapien donec ac nec.</p>
                                <div class="user-info-container d-flex align-items-center justify-content-center pt-2 pt-md-5">
                                    <div class="user-info pr-3">
                                        <h3 class="title-main">David Max</h3>
                                        <h4>Ceo &amp; Founder</h4>
                                    </div>

                                    <div class="user-img">
                                        <img src="~/images/Client/About/user-1.jpg" alt="David Max" class="rounded-circle" style="width: 70px !important; height: 70px !important;" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@* Employees *@

<div class="team-sec padding-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center">
                    <h1><span class="title-main">Our Expert </span>Employees</h1>
                    <p>Lorem ipsum dolor sit amet, pellentesque enim lorem quis vivamus amet.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-member text-center">
                    <div class="team-thumb">
                        <img class="tm-img" src="~/images/Client/About/tm-1.jpg" alt="" style="max-width: 100%; height: auto;" />
                    </div>
                    <h3 class="mt-3">Adalberto</h3>
                    <h4>Office Security</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-member text-center">
                    <div class="team-thumb">

                        <img src="~/images/Client/About/tm-2.jpg" style="max-width: 100%; height: auto;" />

                    </div>
                    <h3 class="mt-3">Alejandro</h3>
                    <h4>House Security</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-member text-center">
                    <div class="team-thumb">

                        <img src="~/images/Client/About/tm-3.jpg" style="max-width: 100%; height: auto;" />

                    </div>
                    <h3 class="mt-3">Ambrose</h3>
                    <h4>Bank Security</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-member text-center">
                    <div class="team-thumb">
                        <img src="~/images/Client/About/tm-1.jpg" style="max-width: 100%; height: auto;" />

                    </div>
                    <h3 class="mt-3">Arnoldo</h3>
                    <h4>Parking Security </h4>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $('#myCarousel').carousel({
            interval: 10000,
            wrap: true,
            keyboard: true
        });
    </script>

}
