@{
    ViewData["Title"] = "HomePage";
    Layout = "~/areas/Customer/views/shared/_LayoutCustomer.cshtml";
}
<link rel="stylesheet" href="~/css/Client/Pages/Home.css">
<link rel="stylesheet" href="~/css/Client/Pages/About.css">
<link rel="stylesheet" href="~/css/Client/Utils/common.css">

<section class="features" id="features">
    <h4 style="text-align:center;text-transform:uppercase;color:#EDBB00;font-weight:bold;">
        We Always Try To<br /> Provide Cost Effective Security Solutions

    </h4>
    <div class="box-container">

        <div class="box">
            <img src="~/images/Client/Home/promo-1.jpg" alt="">
            <h5>Our Experience</h5>
        </div>

        <div class="box">
            <img src="~/images/Client/Home/promo-2.jpg" alt="">
            <h5>Bleezy History</h5>
        </div>

        <div class="box">
            <img src="~/images/Client/Home/promo-3.jpg" alt="">
            <h5>Our Mission</h5>
        </div>
    </div>
</section>

<section class="features" id="features">
    <h3 style="text-align:center">
        What We Offer
    </h3>
    <h2 style="text-align:center">
        OUR SERVICES
    </h2>
    <div class="box-container">
        <div class="box">
            <img src="~/images/Client/Home/promo-1.jpg" alt="">
            <h3>Our Experience</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>

        </div>
        <div class="box">
            <img src="~/images/Client/Home/promo-1.jpg" alt="">
            <h3>Our Experience</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
        </div>
        <div class="box">
            <img src="~/images/Client/Home/promo-2.jpg" alt="">
            <h3>Bleezy History</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <img src="~/images/Client/Home/promo-1.jpg" alt="">
            <h3>Our Experience</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
        </div>
        <div class="box">
            <img src="~/images/Client/Home/promo-1.jpg" alt="">
            <h3>Our Experience</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
        </div>
        <div class="box">
            <img src="~/images/Client/Home/promo-2.jpg" alt="">
            <h3>Bleezy History</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
        </div>
    </div>
</section>


